body {

    background-color: #343434;
    color: white;
    margin: 15px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.table > tbody > tr > td, .table > thead > tr > th {
    background-color: #707070;
}

.form-group, .modal-title {
    color: black;
}

.whiteTextColor {
    color: white;
}

.form-group.row {
    color: white;
}

.modal-body > h4 {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #707070;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

a:link {
    text-decoration: none;
}

#middle, #middleTwo {
    display: flex;
    justify-content: center;
}

.active {
    background-color: green;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.btn-add {
    border-radius: 0%;
}

.container{
    margin: 0;
}
