body {
    background-color: #343434;
    color: white;
}

.titlePage {
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.videoCollectie {
    display:flex;
    flex-wrap: wrap;
}

.videoItem {
    display: block;
    width: 30%;
    margin: calc(10%/6);
    background-color:#f8f4f4;
    padding: 1vw;
}

.videoItem:hover, .videoItem:focus {
    background-color: lightskyblue;
    color: black;
}

a:link{
    text-decoration: none;
    color: black;
}

a {
    color: black;
}
.videoItem img {
    width: 100%;
    border-radius: 5px;
}

.videoTitle {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0px;
}

.videoDescription {
    text-align: center;
    font-size: 15px;
}
